@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Poppins:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {

  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }

  body, p {
    font-family: 'Gothic A1', sans-serif;
    @apply lg:text-lg;
  }
  
  h1 {
    @apply font-bold text-5xl mb-4;
  }

  h2 {
    @apply font-bold text-3xl mb-4;
  }

  .subtitle {
    @apply text-brand-gray text-2xl;
  }

  a:not(.button) {
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    @apply transition-colors hover:text-brand-purple;
  }

  .button {
    min-width: 240px;
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
    @apply inline-block rounded-full py-1 px-5 bg-brand-purple text-center text-white transition-colors hover:bg-brand-gray;
  }

  .button-desc {
   @apply absolute top-2 left-2 rounded-full h-10 w-10 p-1 text-center z-10;
  }

  .desc {
    transition-timing-function: cubic-bezier(0.68,-0.55,0.27,1.55);
  }

  .desc.reveal {
    @apply left-0;
  }

  .desc.stay {
    @apply left-0;
  }

  .minus {
    height: 2px;
    @apply block absolute top-0 right-0 bottom-0 left-0 w-4 bg-white;
  }

  .minus.rotate90 {
    transform: rotate(90deg);
  }

  .swiper-slide {
    cursor: grab;
  }

  .swiper-pagination-bullet-active {
    @apply bg-brand-purple;
  }
  .social-icon:hover {
    filter: invert(58%) sepia(87%) saturate(3173%) hue-rotate(214deg) brightness(102%) contrast(104%);
  }
}